[flake8]
max-line-length = 127
exclude =
    .git,
    __pycache__,
    */migrations/*,
    *venv*,
    env,
    staticfiles,
    media,
    .eggs,
    *.egg
ignore = E203,E501,W503
per-file-ignores =
    __init__.py:F401,
    volta/settings/*.py:F401,F403,F405
